<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Inovarti_CustomRolepermissions>
            <version>0.1.0</version>
        </Inovarti_CustomRolepermissions>
    </modules>
    <global>
        <blocks>
            <customrolepermissions>
                <class>Inovarti_CustomRolepermissions_Block</class>
            </customrolepermissions>
        </blocks>
        <models>
            <customrolepermissions>
                <class>Inovarti_CustomRolepermissions_Model</class>
                <resourceModel>customrolepermissions_resource</resourceModel>
            </customrolepermissions>
            <customrolepermissions_resource>
                <class>Inovarti_CustomRolepermissions_Model_Resource</class>
                <entities>
                    <rule>
                        <table>customrolepermissions_rule</table>
                    </rule>
                </entities>
            </customrolepermissions_resource>
        </models>
        <resources>
            <customrolepermissions_setup>
                <setup>
                    <module>Inovarti_CustomRolepermissions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customrolepermissions_setup>
            <customrolepermissions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customrolepermissions_write>
            <customrolepermissions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customrolepermissions_read>
        </resources>
        <helpers>
            <customrolepermissions>
                <class>Inovarti_CustomRolepermissions_Helper</class>
            </customrolepermissions>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <eav_collection_abstract_load_before>
                <observers>
                    <customrolepermissions_restrict_collection>
                        <class>customrolepermissions/observer</class>
                        <method>restrictCollection</method>
                    </customrolepermissions_restrict_collection>
                </observers>
            </eav_collection_abstract_load_before>
            <core_collection_abstract_load_before>
                <observers>
                    <customrolepermissions_restrict_collection>
                        <class>customrolepermissions/observer</class>
                        <method>restrictCollection</method>
                    </customrolepermissions_restrict_collection>
                </observers>
            </core_collection_abstract_load_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <customrolepermissions_model_observer>
                        <type>singleton</type>
                        <class>customrolepermissions/observer</class>
                        <method>blockPrepareLayoutAfter</method>
                    </customrolepermissions_model_observer>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <admin_permissions_role_prepare_save>
                <observers>
                    <customrolepermissions_model_observer>
                        <class>customrolepermissions/observer</class>
                        <method>saveRolesPermissions</method>
                    </customrolepermissions_model_observer>
                </observers>
            </admin_permissions_role_prepare_save>
        </events>
        <translate>
            <modules>
                <Inovarti_CustomRolepermissions>
                    <files>
                        <default>Inovarti_CustomRolepermissions.csv</default>
                    </files>
                </Inovarti_CustomRolepermissions>
            </modules>
        </translate>
    </adminhtml>
</config>